<h1>Welcome to my Relational Rails Project!</h1><br>
<h2>Click on the parent directory to get started!</h2>
<ul>
  <li><a href="/garages">Garage Index (Parent)</a></li>
  <br>
  <li><a href="/cars">Car Index (Child)</a></li>
</ul>