<h1>Add a car to Garage <%= @garage.id %></h1>
<form action="/garages/<%=@garage.id%>/cars" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>Operational:</p>
  <input type='radio' name='car[operational]' value =true id = "option1" required/>
  <label for ="option1">True</label>
  <input type='radio' name='car[operational]' value =false id = "option2" />
  <label for ="option2">False</label>
  <br><br>
  <label>Miles:</label>
  <input type='number' id="miles" placeholder="Integers" name='car[miles]' required><br><br>
  <label>Color:</label>
  <input type='text' id="color" placeholder="Charcoal Grey" name='car[color]' required><br><br>
  <label>Owner:</label>
  <input type='text' id="owner" placeholder="John Smith" name='car[owner]' required><br><br>

  <input type='submit' value="Create Car!" id="submit"/>
</form>
<br>
<span><a href="/garages/<%= @garage.id %>/cars">Back</a></span>